*{padding: 0;margin: 0}
.tc{text-align: center}
.fl{float: left}
.fr{float: right}
.clear{clear: both}
body {font-family: '微软雅黑';font-size: 12px;line-height: 180%;background: url(../images/bg.png) repeat;}
ul {list-style: none;}
a{text-decoration: none}

/*首页*/
.logo {width: 37.6%;margin: 0 auto;margin-top: 4.9%}
.logo img {width: 100%}
.logo4 {width: 45.1%;margin: 0 auto;margin-top: 3%}
.logo4 img{width: 100%}
.logo-title {font-size: 16px;line-height: 1;color: #2e3200;margin-top: 4.2%;text-align: center}
.index-menu{margin: 0 auto;margin-top: 10.7%;text-align: center}
.index-menu a{width: 18%;margin: 0 2%;display: inline-block}
.index-menu a img{width: 100%;}
/*头*/
.header{width: 100%;height: 45px;text-align: center;position: fixed;top: 0;z-index: 2;background-color: #2e3200;}
.header .nav{width: 80px;text-align: center;position: absolute;left: 3%;top: 10px;z-index: 5;}
.header .nav img{height: 28px}
.header .nav ul{display: none}
.header .nav ul li{display: none;display: block;width: 100%;line-height: 35px;color: white;background: #2e3200;filter: alpha(opacity=80);-moz-opacity: 0.8;opacity: 0.8;}
.header .nav a{display: inline-block;width: 100%;height:100%;color: #fff;}
.header .name{position:absolute; top:12px; left:0; z-index:3; width:100%;}
.header .name img{height:22px;}
.header .tel{display:block; width:27px; height:33px; position:absolute; right:5%; top:9px; z-index:3;}
.header .tel img{height:28px;}
/*banner*/
.banner{margin-top: 45px}
.banner img{width: 100%}
/*尾*/
.footer{ position:fixed;bottom:0;z-index:100; width:100%; text-align:center; background:#2e3200;filter:alpha(opacity=90);-moz-opacity:0.9; opacity: 0.9;  }
.footer a{display:inline-block; width:25%; margin:8px 2% 8px; color:white;}
.footer a p{line-height: 1;color: #fffffe;}
.footer a img{margin-bottom:1px; height:20px;}

/*公司简介*/
.about-us{width: 95%;margin: 20px auto 0;}
.tab-nav {width: 208px;margin-bottom: 10px;font-size: 1.2em;}
.tab-nav a{width: 48%;height: 35px;line-height: 35px;}
.tab-nav .about-btn{display: inline-block;text-align: center;color: #ffffff;background-color: #2e3200;border: solid 1px #2e3200;float: left;border-radius: 4px 0 0 4px}
.tab-nav a:nth-child(2){color: #2e3200;text-align: center;display: inline-block;border: solid 1px #2e3200;float: left;border-radius:0 4px 4px 0}
.about-us p{text-indent: 2em;font-size: 1em;line-height: 180%;}
.jp{width: 100%;text-align: center;margin: 20px auto;}
.jp a{display:inline-block; width:45%; margin:2%; }
.jp a img{width:100%;}
.wh{width: 90%;margin: 0 auto;margin-top: 50px;text-align: left;position: relative}
.wh h1{font-size: 1.2em}
.wh p{font-size: 1em;margin: 10px 0}
.wh img{position: absolute;top:0;right: 0;height: 80px;}
.yg{width:100%; text-align:center; margin-top:50px;padding-bottom: 80px}
.yg img{width:90%;}

/*招商加盟*/
.tel-wrap{font-family: "宋体";font-size: 1.3em;font-weight: 600;line-height: 1.08;text-align: center;color: #2e3200;}
.list-item{text-align: center;margin: 40px auto 0;}
.list-item a{display:inline-block; width:19%; margin-bottom:15px;}
.list-item a img{margin-bottom:5px; height:35px;}
.list-item a p{color: #2e3200}
.youshi{line-height: 140%;width: 95%;margin:30px auto;}
.youshi li{height: 100px;margin-bottom: 20px}
.youshi .dt{width: 25%;background-color: #f9c41e;display: inline-block;height: 100%;text-align: center;line-height: 30px}
.youshi .dt h1{font-size: 3em;margin-top: 20px}
.youshi .dt p{font-size: 1.5em}
.youshi .dd{width: 74%;display: inline-block;height: 100%;border: solid 1px #f9c41e;height: 98px}
.youshi .dd h2{padding: 0 10px;font-size: 1.2em;margin-top: 10px;font-weight: 500}
.youshi .dd p{padding: 0 10px;font-size: 0.8em;color: #2e3200;line-height: 1.54;}
.suc-ex{margin:30px auto;}
.myswiper{width: 95%;margin: 0 auto}
.myswiper .swiper-slide{height: 200px}
.myswiper img{width: 100%;height: 200px}
.suc-ex .swiper-pagination{position: inherit !important;text-align: center;margin-top: 15px}
.suc-ex .swiper-pagination span{margin: 0 3px;background-color: #f9c41e;}
.suc-ex ul{width: 100%;margin: 0 auto;text-align: center;}
.suc-ex ul img{width: 45%;margin: 5px;height: 90px}
.zhichi{width:100%; line-height:140%;}
.zhichi table{width:90%; margin:20px auto;}
.zhichi table .dt{width:18%;}
.zhichi table .dt img{width:100%;}
.zhichi table .dd{width:82%;}
.zhichi table .dd h3 a{color: #f9c41e;padding:0 10px;}
.zhichi table .dd p{padding:0 10px; font-size:0.8em;}
.list{width:90%; margin:20px auto;}
.list li{background:url(../images/app/icon_lj.png) no-repeat left center; height:30px; line-height:30px; position:relative;}
.list li:nth-child(odd){background:url(../images/app/icon_lj2.png) no-repeat left center; }
.list li a{position:absolute; left:15px; width:auto; font-size:1em;color: #2e3200;}
.list li span{position:absolute; right:0; width:auto; color:#888;}
.upfile{width:90%; margin:20px auto;}
.upfile span{display: inline-block;width: 77px;float: left;line-height: 32px;height: 32px}
.upfile input{margin-right: 16px;margin-bottom: 10px;width: 60%;height: 30px;border: solid 1px #f9c41e;background: rgba(255,255,255,0);}
.upfile a{display: inline-block;width: 73px;height: 30px;border-radius: 4px;background-color: #f9c41e;line-height: 30px;text-align: center;margin-top: 10px}
.upfile textarea{border: solid 1px #f9c41e;background: rgba(255,255,255,0);width: 70%;resize: none;}

/*特色菜*/
.sunMenu{width:100%; text-align:center; margin:20px auto;}
.sunMenu a{display:inline-block; padding:3px; font-size:14px; color:#2e3200; white-space:nowrap; margin:0 2px 5px;}
.sunMenu .currclass{color:#f9c41e;}
.titleFont{width:100%; text-align:center; margin:20px auto; font-size:1.6em; color:#f9c41e;}
.picList{width:100%; text-align:center; margin:20px auto;}
.picList a{display:inline-block; width:40%; margin:2% 1%;}
.picList a img{width:100%;}
.picList a b{color:#2e3200;}
.page{margin: 0 auto;margin-bottom: 80px;width: 90%;text-align: center;}
.laypageskin_molv a, .laypageskin_molv span{padding: 0 !important;}
.laypage_main a, .laypage_main span{padding: 0px 5px !important;}
.laypage_main a, .laypage_main input, .laypage_main span{height: 20px !important;line-height: 20px !important;}

/*联系我们*/
.ContactBox{width:90%; margin:80px auto 0;}
.ContactBox dt{width:100%;}
.ContactBox dt h2{font-size:1.5em; color:#2e3200; font-weight:400; line-height:150%;margin-bottom: 25px}
.ContactBox dt div{position:relative; margin:20px auto; position:relative; height:50px; font-size:1em; line-height:150%;}
.ContactBox dt div img{width:40px; position:absolute; left:0; top:5px;}
.ContactBox dt div span{position:absolute;left:60px; top:5px;}
.ContactBox dd{width:100%;}

/*品牌实力==============================*/
.brand{width:90%; margin:50px auto;}
.brand dt{width:100%; text-align:center;}
.brand dt p{margin:10px; font-size:14px; text-indent:2em; text-align:left; line-height:160%;}
.brand dt img{width:80px;}
.brand dd{width:100%; text-align:center;}
.brand .pp span{display:inline-block; width:70px; height:70px; border-radius:35px; background:#a8a8a8; color:white; margin:5px;}
.brand .pp span a{display:block; margin-top:18px; font-size:1em; color:white;}
.brand .pp .hover{background:#d8271c;}
.brand .pp .wsw{background:#ff6000;}
.brand .img img{width:100%;}

/*分店地址列表==============================*/
#StoreList{width:90%; margin:20px auto; padding:10px; font-size:12px; color:#2e3200;}
#StoreList h1{text-align:center;}
#StoreList h2{padding-top:20px;color:#bf400d; font-weight:800; font-size:14px;border-bottom:solid 1px #f9c41e;}
#StoreList div{margin-top:10px;}
#StoreList div b{color:#c98c0a;}
#StoreList div span{color:red;}

/*案例列表=============================*/
.caseListPic{width:100%; margin:20px auto 0; text-align:center;}
.caseListPic li{position:relative;}
.caseListPic li a{display:inline-block; text-align:center; width:90%; margin:10px auto; position:relative;}
.caseListPic li a img{width:100%; margin-bottom:10px;}
.caseListPic li a span{position:absolute; bottom:45px; left:0; font-size:1.2em; width:100%;  height:30px; overflow:hidden; line-height:30px; background:#000; filter:alpha(opacity=0.8);opacity: 0.8; color:white;}
.caseListPic li a b{display:block; height:35px; color:#ff6000; font-size:1.4em;}
.caseList{width:90%; margin:10px auto; padding:10px; font-size:16px;}
.caseList a{display:block; padding:5px;}

/*文章内容页*/
.memo{width:90%; margin:0 auto; line-height:180%;}
.memo .info{width:100%; text-align:center; line-height:30px;}
.memo h1{font-size:1.4em; margin:10px auto; text-align:center; color:#f9c41e;}
.memo h2{font-size:1.2em; margin:5px auto; color:#ff6000; font-weight:400;}
.memo h3{font-size:1em; margin:5px auto; color:#ff6000; font-weight:400;}
.memo h4{font-size:1.2em; margin:30px auto;color:#ff6000; font-weight:400; text-align:center;}
.memo p{margin-bottom:10px; text-indent:2em;}
.memo p img{max-width:90%;}
.memo p strong{color:#d8271c; font-weight:400;}

/*加盟费*/
.jmfTable{display:none;}
#info{color:red;}
.tb{border-top:solid 1px #311f1b; border-left:solid 1px #2e3200; margin-top:20px;}
.tb tr td{padding:1px; border-bottom:solid 1px #311f1b; border-right:solid 1px #2e3200; font-size:12px;}
.tb .th{height:30px; font-size:1.4em; background:#f9c41e; padding:5px;text-align:center; color:white; text-shadow:0 0 1px white;}
.memo input{margin-right: 16px;margin-bottom: 10px;width: 60%;height: 30px;border: solid 1px #f9c41e;background: rgba(255,255,255,0);}
#submit{width:100px; height:30px; background:#f9c41e; border:none; color:white; margin-top:10px;}

/*口碑图片内容页*/
.picContentBox{width:90%; margin:30px auto;}
.picContentBox h1{font-size:1.4em;  margin:10px auto; text-align:center; color:#ff6000;}
.picContentBox p{margin-top:20px; text-align:center;}
.picContentBox p img{width:100%;}
.img3{text-indent:0; width:100%; text-align:center; margin:0; padding:0;}
.img3 img{width:30%; margin-right:1%;}
