<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title style="text-align: center;">关于我们</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" type="text/css" href="../../assets/css/app-phone.css" />
    <!--忽略数字识别电话号码-->
    <meta name="format-detection" content="telephone=no" />
    <!--改变顶部状态栏颜色-->
</head>

<body>
    <div class="header">
        <div class="nav fl">
            <a class="nav-btn"><img src="../../assets/images/app/img6.png"></a>
            <ul>
                <li><a href="AboutUs.html">公司简介</a></li>
                <li><a href="Join.html">招商加盟</a></li>
                <li><a href="Brand.html">品牌实力</a></li>
                <li><a href="Store.html">分店展示</a></li>
                <li><a href="Dish.html">特色菜品</a></li>
                <li><a href="News.html">新闻中心</a></li>
                <li><a href="contactUs.html">联系我们</a></li>
            </ul>
        </div>
        <a class="name" href="index.html"><img src="../../assets/images/app/logo3.png"></a>
        <a class="fr tel" href="tel:13808185982"><img src="../../assets/images/app/icon_phone.png"></a>
    </div>
    <div class="banner">
        <img src="../../assets/images/app/banner.png">
    </div>
    <div class="about-us">
        <div class="tab-nav">
            <a class="about-btn">关于我们</a>
            <a href="ppsl" class="b">品牌实力</a>
            <div class="clear"></div>
        </div>
        <p>成都味蜀吾老火锅源于千秋巴国古镇，系成都味蜀吾餐饮管理有限公司多年精心打造品牌，四川火锅代表性知名企业，是一家正宗川味火锅加盟连锁餐饮管理企业。</p>
        <p>公司以诚心做味道，良心做品质为经营理念承千秋巴渝文化、创百年火锅店"为追求。传承火锅文化之精髓，由名师精心调制市场难以复制的独特原料配方、口味地道纯正、口感鲜美醇厚。成都味蜀吾老火锅以独树一帜的行业作风，独具匠心的浓郁川派特色店堂设计，运用现代化的管理、人性化的服务，真正体现引领时尚、至尊至荣的消费感受。</p>
        <p>成都味蜀吾餐饮管理有限公司自创办以来凭着独特的口味，至尊至荣的消费感受，得到食客们的认可，至今在四川、云南、广东、山西、辽宁、山东等地拥有共160余家分店，并荣获“2016中国十大文化主题火锅”，“2016年人气餐饮品牌”，“2014年度最具投资潜力火锅品牌”、“2014年度成都火锅50强第一名”、“2015年首届成都o2o火锅节十强”，“2015年首届成都o2o火锅节十强”，“2015成都十大最红火锅”，“2015成都十大最红火锅”，“2014年成都火锅十强第一名”等，十多项荣誉称号，在同行中脱颖而出，为您的投资提供信誉保障。</p>
    </div>
    <div class="jp">
        <a>
            <img src="../../assets/images/app/img2.png">
            <span>2014第五届成都金牌餐厅10强</span>
        </a>
        <a>
            <img src="../../assets/images/app/img2.png">
            <span>2014第五届成都金牌餐厅10强</span>
        </a>
        <a>
            <img src="../../assets/images/app/img2.png">
            <span>2014第五届成都金牌餐厅10强</span>
        </a>
        <a>
            <img src="../../assets/images/app/img2.png">
            <span>2014第五届成都金牌餐厅10强</span>
        </a>
        <a>
            <img src="../../assets/images/app/img2.png">
            <span>2014第五届成都金牌餐厅10强</span>
        </a>
        <a>
            <img src="../../assets/images/app/img2.png">
            <span>2014第五届成都金牌餐厅10强</span>
        </a>
        <a>
            <img src="../../assets/images/app/img2.png">
            <span>2014第五届成都金牌餐厅10强</span>
        </a>
    </div>
    <div class="wh">
        <h1>企业理念</h1>
        <p>态度决定给一切，细节觉得成败</p>
        <h1>企业精神</h1>
        <p>诚信立足，创新致远</p>
        <p>不断超越，追求完美</p>
        <h1>企业作风</h1>
        <p>有了你的贡献，才有公司的辉煌</p>
        <h1>企业愿景</h1>
        <p>打造火锅百年品牌</p>
        <img src="../../assets/images/app/logo-culter.png">
    </div>
    <div class="yg"><img src="../../assets/images/app/yg.png" alt="味蜀吾火锅员工风采"></div>
    <div class="footer">
        <a href="index.html">
            <img src="../../assets/images/app/icon_home.png">
            <p>返回首页</p>
        </a>
        <a href="tel:13808185982">
            <img src="../../assets/images/app/icon_tel.png">
            <p>免费电话</p>
        </a>
        <a href="contactUs.html">
            <img src="../../assets/images/app/icon_liuyan.png">
            <p>咨询留言</p>
        </a>
    </div>
</body>
<script src="../../assets/lib/jquery-1.9.1.min.js"></script>
<script src="../../assets/js/app-phone.js"></script>
</html>
