<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title style="text-align: center;">流程</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" type="text/css" href="../../assets/css/app-phone.css" />
    <!--忽略数字识别电话号码-->
    <meta name="format-detection" content="telephone=no" />
    <!--改变顶部状态栏颜色-->
</head>

<body>
<div class="header">
    <div class="nav fl">
        <a class="nav-btn"><img src="../../assets/images/app/img6.png"></a>
        <ul>
            <li><a href="AboutUs.html">公司简介</a></li>
            <li><a href="Join.html">招商加盟</a></li>
            <li><a href="Brand.html">品牌实力</a></li>
            <li><a href="Store.html">分店展示</a></li>
            <li><a href="Dish.html">特色菜品</a></li>
            <li><a href="News.html">新闻中心</a></li>
            <li><a href="contactUs.html">联系我们</a></li>
        </ul>
    </div>
    <a class="name" href="index.html"><img src="../../assets/images/app/logo3.png"></a>
    <a class="fr tel" href="tel:13808185982"><img src="../../assets/images/app/icon_phone.png"></a>
</div>
<div class="banner">
    <img src="../../assets/images/app/banner.png">
</div>
<div class="tel-wrap">全国加盟电话：400-004-2282 13808185982</div>
<div class="list-item">
    <a href="Store_al.html"><img src="../../assets/images/app/icon_1.png"><p>案例</p></a>
    <a href="Store_ts.html"><img src="../../assets/images/app/icon_2.png"><p>特色</p></a>
    <a href="Brand.html"><img src="../../assets/images/app/icon_3.png"><p>实力</p></a>
    <a href="Store_kb.html"><img src="../../assets/images/app/icon_4.png"><p>口碑</p></a>
    <a href="Store_jmf.html"><img src="../../assets/images/app/icon_5.png" style="width: 35px"><p>加盟费</p></a>
    <a href="Store_ys.html"><img src="../../assets/images/app/icon_6.png"><p>预算</p></a>
    <a href="Store_tj.html"><img src="../../assets/images/app/icon_7.png"><p>条件</p></a>
    <a href="Store_zc.html"><img src="../../assets/images/app/icon_8.png"><p>支持</p></a>
    <a href="Store_lc.html"><img src="../../assets/images/app/icon_9.png"><p>流程</p></a>
    <a href="contactUs.html"><img src="../../assets/images/app/icon_10.png"><p>留言</p></a>
</div>
<div class="memo">
    <h1>火锅店加盟支持</h1>
    <p>&nbsp; &nbsp; 味蜀吾老火锅为加盟商提供全面的火锅店加盟支持，解决加盟商没有经验，没有时间管理等各种问题，让您从繁琐的火锅店筹备工作中解脱。味蜀吾多年成功筹备百余家火锅加盟店，丰富的成功经验直接复制到您的火锅店上，大大提升成功率。给火锅店有一个好的开始，正确的方法，向着正确的方向前进......<br></p>
    <h2>火锅店内规划、设计、装修支持：</h2>
    <p>&nbsp; &nbsp; 1、公司将根据所提供的图纸为加盟方设计平面图和门头广告招牌。部份位置公司将提供设计效果图。</p>
    <p>&nbsp; &nbsp; 2、装修期间我公司将派技术督导协助装修和规划。</p>
    <p>&nbsp; &nbsp; 3、公司将提供一整套VI识别系统，以便加盟方按统一风格装修。</p>
    <h2>火锅店开业手续办理支持：</h2>
    <p>&nbsp; &nbsp; 1、根据有关法律法规的规定，我公司将为加盟店提供有关的法律、法规手续，公司营业执照复印件一份，方便加盟方在当地进行工商注册。</p>
    <p>&nbsp; &nbsp; 2、公司根据加盟方的实际情况，可协助加盟方办理各项营业执照。《证照办理流程》</p>
    <h2>员工培训（驻店）支持</h2>
    <p>&nbsp; &nbsp; 《组织机构架构图》《前后堂培训手册》《标准人员配置》</p>
    <p>&nbsp; &nbsp; 1、加盟方自行招聘工作人员,到总公司接受理论培训后，派到直营门店实习。《员工招聘方式》</p>
    <p>&nbsp; &nbsp; 2、在火锅店开业前一个月，公司委派开业督导人员到店协助开业，以保证加盟方开业成功。</p>
    <p>&nbsp; &nbsp; 3、督导人员在贵店顺利营业1-6个月后，方可回公司述职。</p>
    <p>&nbsp; &nbsp; 4、督导人员应贵店需求，可根据所属地域特殊性常驻贵店。</p>
    <h2>火锅店筹备支持（物配支持）</h2>
    <p>&nbsp; &nbsp; 《总部物配清单》《前后堂物配清单》</p>
    <p>&nbsp; &nbsp; 1、在火锅店筹备过程中为了不让加盟商在开业前采购过量或不必要的商品，公司在开业前将提供《开业筹备建议书》，并两次提供物配清单。《开业倒计时表》《原辅材料调查表》</p>
    <p>&nbsp; &nbsp; 2、成都地区可选择统一配送。</p>
    <h2>营销策划支持</h2>
    <p>&nbsp; &nbsp; 1、公司在开业前30天配合加盟方制定一套开业营销计划方案《营销方案》、《模拟开业情景测试表》、《模拟开业的整改表》、《开业倒计时间表》、《开业活动庆典方案》。</p>
    <p>&nbsp; &nbsp; 2、在开业前配合加盟方制定具体营销策划方案，包括宣传方式。</p>
    <p>&nbsp; &nbsp; 3、在经营过程中若遇经营管理、技术困难公司将及时派人指导。</p>
    <p>&nbsp; &nbsp; 4、公司将派人不定时巡查以便及时发现问题解决问题，保证加盟方的顺利经营。</p>
    <h2>技术支持</h2>
    <p>&nbsp; &nbsp; 1、由公司统一提供火锅底料、香油、香料、花椒、辣椒、特色菜品的制作料包，以便更好地保证味道及品质。（具体包含内容将在《特许经营合同》中列明）</p>
    <p>&nbsp; &nbsp; 2、为统一形象，由公司统一采购包括但不限于以下物品：带味蜀吾标识的员工服装、部分餐具等相关物品(VI形象)</p>
    <h2>管理培训支持</h2>
    <p>&nbsp; &nbsp; 1、公司将每年不定期组织火锅店加盟方老板或管理骨干到公司接受培训，以提高各店管理水平。</p>
    <p>&nbsp; &nbsp; 2、公司将提供一套完整的企业管理体系、企业管理软件和企业管理手册给加盟方。</p>
</div>
<div style="height: 60px"></div>
<div class="footer">
    <a href="index.html">
        <img src="../../assets/images/app/icon_home.png">
        <p>返回首页</p>
    </a>
    <a href="tel:13808185982">
        <img src="../../assets/images/app/icon_tel.png">
        <p>免费电话</p>
    </a>
    <a href="contactUs.html">
        <img src="../../assets/images/app/icon_liuyan.png">
        <p>咨询留言</p>
    </a>
</div>
</body>

<script src="../../assets/lib/jquery-1.9.1.min.js"></script>
<script src="../../assets/js/app-phone.js"></script>
</html>