<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title style="text-align: center;">流程</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" type="text/css" href="../../assets/css/app-phone.css" />
    <!--忽略数字识别电话号码-->
    <meta name="format-detection" content="telephone=no" />
    <!--改变顶部状态栏颜色-->
</head>

<body>
<div class="header">
    <div class="nav fl">
        <a class="nav-btn"><img src="../../assets/images/app/img6.png"></a>
        <ul>
            <li><a href="AboutUs.html">公司简介</a></li>
            <li><a href="Join.html">招商加盟</a></li>
            <li><a href="Brand.html">品牌实力</a></li>
            <li><a href="Store.html">分店展示</a></li>
            <li><a href="Dish.html">特色菜品</a></li>
            <li><a href="News.html">新闻中心</a></li>
            <li><a href="contactUs.html">联系我们</a></li>
        </ul>
    </div>
    <a class="name" href="index.html"><img src="../../assets/images/app/logo3.png"></a>
    <a class="fr tel" href="tel:13808185982"><img src="../../assets/images/app/icon_phone.png"></a>
</div>
<div class="banner">
    <img src="../../assets/images/app/banner.png">
</div>
<div class="tel-wrap">全国加盟电话：400-004-2282 13808185982</div>
<div class="list-item">
    <a href="Store_al.html"><img src="../../assets/images/app/icon_1.png"><p>案例</p></a>
    <a href="Store_ts.html"><img src="../../assets/images/app/icon_2.png"><p>特色</p></a>
    <a href="Brand.html"><img src="../../assets/images/app/icon_3.png"><p>实力</p></a>
    <a href="Store_kb.html"><img src="../../assets/images/app/icon_4.png"><p>口碑</p></a>
    <a href="Store_jmf.html"><img src="../../assets/images/app/icon_5.png" style="width: 35px"><p>加盟费</p></a>
    <a href="Store_ys.html"><img src="../../assets/images/app/icon_6.png"><p>预算</p></a>
    <a href="Store_tj.html"><img src="../../assets/images/app/icon_7.png"><p>条件</p></a>
    <a href="Store_zc.html"><img src="../../assets/images/app/icon_8.png"><p>支持</p></a>
    <a href="Store_lc.html"><img src="../../assets/images/app/icon_9.png"><p>流程</p></a>
    <a href="contactUs.html"><img src="../../assets/images/app/icon_10.png"><p>留言</p></a>
</div>
<div class="memo">
    <h1>火锅加盟流程</h1>
    <p><strong>加盟商的初次接触</strong>：</p>
    <p>1、接受潜在加盟商的电话咨询，谈判代表要详细介绍企业情况、加盟优势、加盟政策和加盟流程。</p>
    <p>2、电话咨询同时，谈判代表应对潜在加盟商做初步的评估。</p>
    <p>3、如潜在加盟商有加盟意向，应要求潜在加盟商到成都进行实地考察，如果有店址，可带上潜在店址的图片和平面图。</p>
    <p><strong>加盟商到味蜀吾总部考察</strong>：</p>
    <p>1、潜在加盟商直接到总部来访的由谈判代表接待，直接向潜在加盟商介绍公司情况、加盟优势、加盟政策和加盟流程。</p>
    <p>2、潜在加盟商有意向比较明确时，双方开始进一步接触。签订谈判代表约请加盟中心总监与潜在加盟商进行深入了解，并定意向合同书。</p>
    <p>3、拓展部经理陪同潜在加盟商了解与考察味蜀吾。</p>
    <p><strong>味蜀吾对加盟地<strong style="white-space: normal;">考察</strong></strong>：</p>
    <p>1、了解潜在加盟商情况，主要为加盟地区地理位置，人文环境，投资环境，投资规模，投资人背景情况等内容。</p>
    <p>2、根据潜在加盟商带来的当地市场分析和市场部掌握的当地市场信息，与潜在加盟商共同讨论分店经营问题。</p>
    <p>3、谈判地点可以在总部，也可以在潜在加盟商的驻地。谈话内容要形成加盟谈判备忘录，双方签字。此项座谈可以多次进行，促进双方的沟通和了解。</p>
    <p><strong>签订加盟合同：</strong></p>
    <p>经过相互了解考察，互合双方要求便可签订加盟合同。签订加盟合同后交纳相关费用，到此加盟流程进入筹备阶段。<br></p></div>
<div style="height: 60px"></div>
<div class="footer">
    <a href="index.html">
        <img src="../../assets/images/app/icon_home.png">
        <p>返回首页</p>
    </a>
    <a href="tel:13808185982">
        <img src="../../assets/images/app/icon_tel.png">
        <p>免费电话</p>
    </a>
    <a href="contactUs.html">
        <img src="../../assets/images/app/icon_liuyan.png">
        <p>咨询留言</p>
    </a>
</div>
</body>

<script src="../../assets/lib/jquery-1.9.1.min.js"></script>
<script src="../../assets/js/app-phone.js"></script>
</html>